


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sheared styles */

.black{
color: rgb(0, 0, 0);    
}

.orange{
color: rgb(233, 90, 8);    
}

.gray{
color: rgba(0, 0, 0, 0.5);    
}


/* header styles */
#header{
padding: 30px 150px 0px 150px;    
}


/* nav bar styles */

.nav{
display: flex;
justify-content: space-between;    
}
.nav-img{
width: 135px;
height: 82px;    
}

.nav-links{
display: flex;
gap: 48px;

}

.nav-link{
list-style: none;
font-size: 16px;
font-weight: 700;

}

/* banner styles */


.banner{
display: flex;
justify-content: space-between;    
}
.banner-titel{
font-size: 65px;
font-weight: 700;    
}

.banner-text{
font-size: 22px;
font-weight: 400;    
}

.banner-img{
width: 570px;
height: 355px;    
}




/* main styles part */

.main-titel{
font-size: 50px;
font-weight: 700;
text-align: center;  
}
.main-text{
font-size: 22px;
font-weight: 400;
text-align: center;    
}

/* cards styles */

.cards{
  
display: grid;
grid-template-columns: repeat(4 , 1fr);
grid-template-rows: repeat(2 , auto);
justify-self: center;
align-items: center;
gap: 20px;   
}


.card{
width: 270px;
height: 514px;
margin-bottom: 30px;



   
}
.card-img{
width: 270px;
height: 322px; 


}

.card-titel{
font-size: 22px;
font-weight: 500; 
text-align: center;   
}

.card-price{
font-size: 22px;
font-weight: 700;
text-align: center;    
}

.card-btn{
width: 270px;
height: 70px;
background: rgb(233, 90, 8);
border: none;
color: white; 
font-size: 16px;
font-weight: 600;   
}

.card-btn:hover{
  background-color: gray;
}

/* festun section styles */

.festun{
display: flex;
justify-content: center;
gap: 60px;
margin-top: 200px;
}
.festun-img{
width: 540px;
height: 597px;
}


.festun-titel{
font-size: 50px;
font-weight: 700;

}
.festun-text{
font-size: 22px;
font-weight: 400;


}


/* last section styles */

.last-titel{
  text-align: center;
  font-size: 50px;
font-weight: 700;
}

.last-text{
 font-size: 22px;
font-weight: 400;
text-align: center; 
}

/* last token styles */

.last-token{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.last-token-one{
width: 366px;
height: 202px;
background-image: url(../images/deal-bloom.png);
border-radius: 15px;

}
.last-token-two{
width: 366px;
height: 198px;
background-image: url(../images/deal-ana.png);
border-radius: 15px;

}


.last-token-titel{
color: white;
font-size: 20px;
font-weight: 700;
text-align: center;
padding-top: 75px;
}
.last-token-ankor{
color: white;
font-size: 16px;
font-weight: 600;
margin-left: 125px;


}


.last-token-three{
 width: 732px;
height: 424px;
background-image: url(../images/deal-zabo.png);
border-radius: 15px; 
}

.last-token-titel-zabo{
text-align: center;
font-size: 28px;
font-weight: 700;
color: white;
padding-top:175px ;
}
.last-token-ankor-zabo{
color: white;
font-size: 22px;
font-weight: 700;
margin-left: 40%;
}






/* mobile responsibe view  */


@media (max-width: 576px) {
  #header {
    padding: 16px;
  }

  /* Navigation styles */
   .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-img {
    width: 100px;
    height: auto;
}

  
  .nav-link {
    list-style: none;
    font-size: 14px;
    font-weight: 600;
  }

  .nav-links li:not(:last-child) {
    display: none;
  } 

  /* Banner styles */

  .banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
   
  }

  .banner-img {

    width: 100%;
    height: auto;
  }

  .banner-titel {
    font-size: 32px;
    font-weight: 700;
  }

  .banner-text {
    font-size: 14px;
    font-weight: 400;
  }

  /* card styles  */
  .cards{
display: grid;
grid-template-columns: repeat(2 , 1fr);
grid-template-rows: repeat(4 , auto);
  }
  .card{
    width: 171px;
    height: 312px;
  margin-top: 30px;
  }
  .card-img{
    width: 171px;
    height: 196px;
   
  }
  .card-btn{
    width: 171px;
    height: 40px;
   
  }

  /* festun section styles */

  .festun{
    display: flex;
    flex-direction: column;
    
  
  }
  .festun-img{
    width: 358px;
    height: auto;
 margin-left: 15%;
  
  }

  /* last section styles */
  

  .last-token{
    display: block;
    margin-bottom: 30px;
  }
    .last-token-one{
   
    background-repeat: no-repeat;
     margin-left: 12%;
    
  }
  .last-token-two{
    
     background-repeat: no-repeat;
     margin-left: 12%;
    
  }
  .last-token-three{
    width: 466px;
    height: 272px;
     margin-left: 5%;
  }

}
