


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sheared styles */

.black{
color: rgb(0, 0, 0);    
}

.orange{
color: rgb(233, 90, 8);    
}

.gray{
color: rgba(0, 0, 0, 0.5);    
}


/* header styles */
#header{
padding: 30px 150px 0px 150px;    
}


/* nav bar styles */

.nav{
display: flex;
justify-content: space-between;    
}
.nav-img{
width: 135px;
height: 82px;    
}

.nav-links{
display: flex;
gap: 48px;

}

.nav-link{
list-style: none;
font-size: 16px;
font-weight: 700;

}

/* banner styles */


.banner{
display: flex;
justify-content: space-between;    
}
.banner-titel{
font-size: 65px;
font-weight: 700;    
}

.banner-text{
font-size: 22px;
font-weight: 400;    
}

.banner-img{
width: 570px;
height: 355px;    
}




/* main styles part */

.main-titel{
font-size: 50px;
font-weight: 700;
text-align: center;  
}
.main-text{
font-size: 22px;
font-weight: 400;
text-align: center;    
}

/* cards styles */

.cards{
  
display: grid;
grid-template-columns: repeat(4 , 1fr);
grid-template-rows: repeat(2 , auto);
justify-self: center;
align-items: center;
gap: 20px;   
}


.card{
width: 270px;
height: 514px;
margin-bottom: 30px;



   
}
.card-img{
width: 270px;
height: 322px; 


}

.card-titel{
font-size: 22px;
font-weight: 500; 
text-align: center;   
}

.card-price{
font-size: 22px;
font-weight: 700;
text-align: center;    
}

.card-btn{
width: 270px;
height: 70px;
background: rgb(233, 90, 8);
border: none;
color: white; 
font-size: 16px;
font-weight: 600;   
}

.card-btn:hover{
  background-color: gray;
}










/* mobile responsibe view  */


@media (max-width: 576px) {
  #header {
    padding: 16px;
  }

  /* Navigation styles */
   .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-img {
    width: 100px;
    height: auto;
}

  
  .nav-link {
    list-style: none;
    font-size: 14px;
    font-weight: 600;
  }

  .nav-links li:not(:last-child) {
    display: none;
  } 

  /* Banner styles */

  .banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
   
  }

  .banner-img {

    width: 100%;
    height: auto;
  }

  .banner-titel {
    font-size: 32px;
    font-weight: 700;
  }

  .banner-text {
    font-size: 14px;
    font-weight: 400;
  }

  /* card styles  */
  .cards{
display: grid;
grid-template-columns: repeat(2 , 1fr);
grid-template-rows: repeat(4 , auto);
  }
  .card{
    width: 171px;
    height: 312px;
  margin-top: 30px;
  }
  .card-img{
    width: 171px;
    height: 196px;
   
  }
  .card-btn{
    width: 171px;
    height: 40px;
   
  }

}
